a:link {
	text-decoration: none;
	  color: plum;
	}

	a:visited {
		color:darkcyan;
	}
	a:hover {
	 text-decoration: underline;
	 background-color:pink; 
	 font-family: fantasy;
    }
    a:active {
		font-weight:bold;
    }
		h1{
			font-family: fantasy;
		}
		h2.diffh2{
			font-family: fantasy;
		}
.names{
	font-style: italic;
}
#tracks{
background-color: lightcoral;
}
td{
	font-style: italic;
}
.container {
	 padding-right: 150px;
  padding-left: 150px;
  margin-right: 150px;
  margin-left: 300px;
}
div.table-responsive{
	width: 100%;
}
